/* Impot of font style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fff;
    font-family: roboto, sans-serif;
}

/* Main Heading */

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #3a3a3a;
    text-align: center;
    padding: 0.6rem;
}

/* nav links bar */

nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 0.6rem;
    border: 1px solid #ff0000;
    border-radius: 6px;
    font-size: 1.2rem;
    letter-spacing: 4px;
}

nav a:hover {
    background-color: #555;
}

/* nav bar flex box styles */

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    flex: 1 1 0;
}

/* main section and background image */

.main-section {
    height: 800px;
    width: 100%;
    background-image: url(../images/mj6.jpg);
    background-color: #333;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* grid layout for michael quotes in main section */

.main-section-grid {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, minmax(100px, auto));
}

.quote-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-2 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-3 {
    grid-column: 1/2;
    grid-row: 6/7;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-4 {
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-5 {
    grid-column: 4/5;
    grid-row: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-6 {
    grid-column: 4/5;
    grid-row: 6/7;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

/* grid layout for others quotes in sub section */

.others-sub-section {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, minmax(100px, auto));
    font-size: 1.2rem;
}

.pro-quote-1 {
    grid-column: 1/2;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.pro-quote-2 {
    grid-column: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.pro-quote-3 {
    grid-column: 3/4;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.pro-quote-4 {
    grid-column: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.others-sub-section span {
    font-style: italic;
}

.others-sub-section p {
    text-align: center;
    padding: 0.6rem;
}

/* Style for footer */

footer {
    height: 150px;
    width: 100%;
}

.social-networks {
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 75px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    flex: 1 1 1;
    padding: 1rem;
}

/* style for about page main section */

.stat-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-2 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-3 {
    grid-column: 1/2;
    grid-row: 6/7;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-4 {
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-5 {
    grid-column: 4/5;
    grid-row: 4/5;
    padding: 1.2rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-6 {
    grid-column: 4/5;
    grid-row: 6/7;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

/* style for about page sub section */

.stat-quote-1 {
    grid-column: 1/2;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.stat-quote-2 {
    grid-column: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.stat-quote-3 {
    grid-column: 3/4;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.stat-quote-4 {
    grid-column: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}