/* Impot of font style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fff;
    font-family: roboto, sans-serif;
}

/* Main Heading */

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #3a3a3a;
    text-align: center;
    padding: 0.6rem;
}

/* nav links bar */

nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 0.6rem;
    border: 1px solid #ff0000;
    border-radius: 6px;
    font-size: 1.2rem;
    letter-spacing: 4px;
}

nav a:hover {
    background-color: #555;
}

/* nav bar flex box styles */

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    flex: 1 1 0;
}