/* Impot of font style */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fff;
    font-family: roboto, sans-serif;
}

/* Main Heading */

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #3a3a3a;
    text-align: center;
    padding: 0.6rem;
}

/* nav links bar */

nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 0.6rem;
    border: 1px solid #ff0000;
    border-radius: 6px;
    font-size: 1.2rem;
    letter-spacing: 4px;
}

nav a:hover {
    background-color: #555;
}

/* nav bar flex box styles */

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    flex: 1 1 0;
}

/* main section and background image */

.main-section {
    height: 800px;
    width: 100%;
    background-image: url(../images/mj6.jpg);
    background-color: #333;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* grid layout for michael quotes in main section */

.main-section-grid {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, minmax(100px, auto));
}

.quote-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-2 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-3 {
    grid-column: 1/2;
    grid-row: 6/7;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-4 {
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-5 {
    grid-column: 4/5;
    grid-row: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.quote-6 {
    grid-column: 4/5;
    grid-row: 6/7;
    padding: 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

/* grid layout for others quotes in sub section */

.others-sub-section {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, minmax(100px, auto));
    font-size: 1.2rem;
}

.pro-quote-1 {
    grid-column: 1/2;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.pro-quote-2 {
    grid-column: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.pro-quote-3 {
    grid-column: 3/4;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.pro-quote-4 {
    grid-column: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.others-sub-section span {
    font-style: italic;
}

.others-sub-section p {
    text-align: center;
    padding: 0.6rem;
}

/* Style for footer */

footer {
    height: 150px;
    width: 100%;
}

.social-networks {
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 75px;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    flex: 1 1 1;
    padding: 1rem;
}

footer a {
    color: #333;
    font-size: 200%;
    margin: 0 2rem 0 2rem;
}

/* style for about page main section */

.stat-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-2 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-3 {
    grid-column: 1/2;
    grid-row: 6/7;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-4 {
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-5 {
    grid-column: 4/5;
    grid-row: 4/5;
    padding: 1.2rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

.stat-6 {
    grid-column: 4/5;
    grid-row: 6/7;
    padding: 1.8rem 0.6rem 0.6rem 0.6rem;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.85);
    margin: 0.6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
}

/* style for about page sub section */

.stat-quote-1 {
    grid-column: 1/2;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.stat-quote-2 {
    grid-column: 2/3;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.stat-quote-3 {
    grid-column: 3/4;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

.stat-quote-4 {
    grid-column: 4/5;
    padding: 0.6rem;
    color: #fff;
    background-color: #333;
    border: 1px solid #ff0000;
    border-radius: 6px;
}

/* grid layout for vote section */

.main-section-vote-grid {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, minmax(100px, auto));
}

/* style for vote form */

.vote-form {
    grid-column: 1/2;
    grid-row: 2/5;
    color: #fff;
    background-color: rgba(241, 16, 16, 0.726);
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 6px;
    margin: 0 10%;
}

.vote-form>h2,
h3 {
    color: #fff;
    margin-bottom: 1.2rem;
}

.text-input {
    color: #fff;
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 0.3rem 0 1.2rem 0;
    border: 1px solid white;
    border-radius: 6px
}

.text-input:hover {
    border-color: #555;
}

form>input {
    align-items: center;
}

.vote-button {
    margin-top: 1.2rem;
    border-radius: 6px;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    font-size: 100%;
    background-color: #333;
    color: #fff;
    display: block;
    border: 1px solid #ff0000;
}

.vote-button:hover {
    background-color: #555;
    color: #fff;
}

/* style for gallery */

.main-section-gallery {
    height: auto;
    width: 100%;
    background-color: #333;
}


.main-section-gallery-grid {
    height: auto;
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

.image-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-4 {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-5 {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-6 {
    grid-column: 2/3;
    grid-row: 3/4;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-7 {
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-8 {
    grid-column: 3/4;
    grid-row: 2/3;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-9 {
    grid-column: 3/4;
    grid-row: 3/4;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* media queries for size screens from 1200px wide and down */

@media screen and (max-width: 1200px) {

    /* others sub section on main page */
    .others-sub-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(100px, auto));
    }

    .pro-quote-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .pro-quote-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .pro-quote-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .pro-quote-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* others sub section on about page */
    .stat-quote-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .stat-quote-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .stat-quote-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .stat-quote-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /*  stytle for gallery for screens 1200px wide and down */

    .main-section-gallery-grid {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 1fr)
    }

    .image-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .image-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .image-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .image-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .image-5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .image-6 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .image-7 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .image-8 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .image-9 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

/* media queries for medium size screens from 950px wide and down */

@media screen and (max-width: 950px) {

    body {
        margin: 0 2px;
    }

    /* main section for screen sizes from 950px wide and down */
    .main-section {
        height: auto;
    }

    .main-section-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(18, minmax(50px, auto));
    }

    .quote-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .quote-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .quote-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .quote-4 {
        grid-column: 1/2;
        grid-row: 16/17;
    }

    .quote-5 {
        grid-column: 1/2;
        grid-row: 17/18;
    }

    .quote-6 {
        grid-column: 1/2;
        grid-row: 18/19;
    }

    /* sub section main page for screen sizes from 950px wide and down */

    .others-sub-section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto));
    }

    .pro-quote-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .pro-quote-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .pro-quote-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .pro-quote-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /* main section about page for screen sizes 950px wide and down */

    .stat-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .stat-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .stat-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .stat-4 {
        grid-column: 1/2;
        grid-row: 16/17;
    }

    .stat-5 {
        grid-column: 1/2;
        grid-row: 17/18;
    }

    .stat-6 {
        grid-column: 1/2;
        grid-row: 18/19;
    }

    /* sub section about page for screen sizes from 950px wide and down */

    .stat-quote-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .stat-quote-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .stat-quote-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .stat-quote-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /*  stytle for gallery for screens 1200px wide and down */

    .main-section-gallery-grid {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(9, 1fr)
    }

    .image-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .image-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .image-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .image-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .image-5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .image-6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .image-7 {
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .image-8 {
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .image-9 {
        grid-column: 1/2;
        grid-row: 9/10;
    }
}

/* media queries for medium size screens from 600px wide and down */
@media screen and (max-width: 600px) {

    /* nav bar style for screens from 600px wide and down */
    nav ul {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    nav li {
        flex: 1 1 0;
    }

    /* footer style for screens from 600px wide and down */

    footer ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex-flow: column;
    }

    footer li {
        flex: 1 1 1;
        padding: 1rem;
    }
}